mat-grid-tile {
  background-color: lightblue;
  width: 100%;
}
.petsitter-list {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.mtg-fb {
  width: 30%;
}
.mtg-pl {
  width: 40%;
}
.mtg-fb {
  width: 30%;
}
.div {
  height: 100vh;
}
