.page-container {
  display: flex;
  margin: auto;
}

.petsitter-list-container {
  height: 100%;
  overflow: scroll;
  width: 48vw;
  padding: 10px;
}

.map-container {
  position: relative;
  width: 30vw;
}
.long-form-container {
  width: 22vw;
}
@media(max-width: 959px) {
  .page-container {
    flex-direction: column;
  }
 .map-container, .petsitter-list-container {
   width: calc(100vw - 40px);
   padding: 40px;
   margin: auto;
   order: 2;
  }
  .map-container {
    min-height: 400px;
    order: 1;
  }
  .long-form-container {
    width: 100vw;

    padding-bottom: 20px;
    background-image: url("../../../../assets/Backgrounds/bg-confirmation.jpg")
  }
    app-long-form {
    max-width: 320px;
    margin: auto;
  }
}
