
    <mat-grid-list cols="1" rowHeight="500px">
        <mat-grid-tile style="position:inherit;">
            <div class="example-container">
                <div class="card-title">Address</div>
                <hr>
                <br><br>

                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData">
                
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Street</mat-label>
                        <input matInput
                        type="text"
                        id="street"
                        name="street"
                        formControlName="street">
                        <span *ngIf="!signupForm.get('userData.street').valid && signupForm.get('userData.street').touched" 
                        class="help-block">Please enter a valid Street</span>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>House nr / Flat nr</mat-label>
                        <input matInput
                        type="text"
                        id="housenr"
                        name="housenr"
                        formControlName="housenr">
                        <span *ngIf="!signupForm.get('userData.housenr').valid && signupForm.get('userData.housenr').touched" 
                        class="help-block">Please enter a valid value</span>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>City</mat-label>
                        <input matInput
                        type="text"
                        id="city"
                        name="city"
                        formControlName="city">
                        <span *ngIf="!signupForm.get('userData.city').valid && signupForm.get('userData.city').touched" 
                        class="help-block">Please enter a valid value</span>
                    </mat-form-field>
                
                    <br>
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Zip Code</mat-label>
                        <input matInput 
                        placeholder="Ex. 12-345"
                        id="zipcode"
                        name="zipcode"
                        formControlName="zipcode">
                        <span *ngIf="!signupForm.get('userData.zipcode').valid && signupForm.get('userData.zipcode').touched" 
                        class="help-block">Please enter a valid value</span>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Country</mat-label>
                        <input matInput
                        type="text"
                        id="country"
                        name="country"
                        formControlName="country">
                        <span *ngIf="!signupForm.get('userData.country').valid && signupForm.get('userData.country').touched" 
                        class="help-block">Please enter a valid value</span>
                    </mat-form-field>
                        <div>
                            
                        </div>
                    <br> 
                    <span *ngIf="!signupForm.valid && signupForm.touched"></span>
                    <mat-card-actions>
                        <button mat-raised-button 
                        type="submit" 
                        color="primary"
                        >LOGIN</button>
                 </mat-card-actions> 
                </div>
                </form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
   
