.review-main-container{
  height: 100%;
}
.reviewer-name{
  font-size: 16px;
  color:darkgreen;
  font-weight: bold;
  padding-bottom: 10px;
}

.single-review{
  padding: 10px 0;
  width: 600px;
}
.reviewer-info{
  height: 5vh;
  display: flex;
}
.review-description{
  margin-top: 10px;
}
img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
