<div class="top-container">
  <h3>Services</h3>
  <hr><br><br>
  <h5>Tell us what kind of services you want provide</h5>
</div>

<div class="container">
  <app-services-part [services]="services"></app-services-part>
    <h3>Pet preferences</h3>
  <h5>What kind of animal you are able to take?</h5>


  <div class="services">

    <label for="dog" [style.backGroundColor]="             {
               'background-color': 'rgb(254, 203, 64)'
              }">
      <div id="_dog" class="form-check-label">
        Dog
        <input type="checkbox" id="dog" name="dog" (click)="onExtraServiceClick('dog')">
      </div>
    </label>

    <label for="cat">
      <div id="_cat" class="form-check-label">
        Cat
        <input type="checkbox" id="cat" name="cat" (click)="onExtraServiceClick('cat')">
      </div>
    </label>

    <label for="other">
      <div id="_other" class="form-check-label">
        Other
        <input type="checkbox" id="other" name="other" (click)="onExtraServiceClick('other')">
      </div>
    </label>
  </div>

<div class="buttons">

  <mat-card-actions>
    <a mat-raised-button
       class="back-btn"
       routerLink="/register-form/address"
    >Back</a>
    <button mat-raised-button
            class="continue-btn"
            type="submit"
            color="primary"
            routerLink="/register-form/personal-info"
            (click)="onSubmit()"
    >Next</button>
  </mat-card-actions>
</div>

<!--  <p>-->
<!--    Value: {{ services.value | json }}-->
<!--  </p>-->


<!--
        <label id="example-radio-group-label">Gender: </label>
          <br><br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="2">Female</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="3">Custom</mat-radio-button>
          </mat-radio-group>


          <br><br>
          <label id="example-radio-group-label">Date of birth: </label>
          <br><br>
          <mat-form-field appearance="fill" class="width-25">
            <mat-label>Day</mat-label>
            <mat-select>
              <mat-option [value]="6">
               26
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="width-25 ml-1">
            <mat-label>Month</mat-label>
            <mat-select>
              <mat-option [value]="6">
               26
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="width-25 ml-1">
            <mat-label>Year</mat-label>
            <mat-select>
              <mat-option [value]="6">
               26
              </mat-option>
            </mat-select>
          </mat-form-field>

        -->
