

  <app-s-form (onFormChanged)="onFormChange($event)"
              (formValid)="onStatusChange($event)"></app-s-form>

  <div class="buttons">

    <mat-card-actions>
      <a mat-raised-button
         class="back-btn"
         routerLink="/register-form/address"
      >Back</a>
      <button mat-raised-button
              class="continue-btn"
              type="submit"
              color="primary"
              routerLink="/register-form/personal-info"
              (click)="onSubmit()"
      >Next</button>
    </mat-card-actions>
  </div>
