mat-date-range-input {
    width: 10vw;
  }
    /* HIDE RADIO */
  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    background-color: lightgray;
  }
  
  label img {
    padding: 3vh 4vw;
    width: 3vw;
    margin: 1vw;
    display: inline-block;
    border: slategray solid 1px;
    border-radius: 40px;
  }
  button img{
    width: 1.5vw;
    justify-content: center;
  }
  button {
    all: unset;
    width:  3vw;
    height: 3vw;
    border: solid 1px slategray;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    margin: auto;
  }
  /*label {*/
  /*  height: 10vh;*/
  /*}*/
  /*input, label {*/
  /*  display:inline-block;*/
  /*}*/
  