<div class="top-container">
  <h3>Services</h3>
  <hr><br><br>
  <h5>Tell us what kind of services you want provide</h5>
</div>

<div class="container">
  <app-services-part [services]="signupForm"></app-services-part>
  <h3>Pet preferences</h3>
  <h5>What kind of animal you are able to take?</h5>

  <app-s-form></app-s-form>

  <div class="buttons">

    <mat-card-actions>
      <a mat-raised-button
         class="back-btn"
         routerLink="/register-form/address"
      >Back</a>
      <button mat-raised-button
              class="continue-btn"
              type="submit"
              color="primary"
              routerLink="/register-form/personal-info"
              (click)="onSubmit()"
      >Next</button>
    </mat-card-actions>
  </div>
