

Input testing

  <form [formGroup]="testGroup" errorTailor>
    <app-form-field>
    <label appLabel>Hello</label>
    <input placeholder="XD" appInput formControlName="test">
  </app-form-field>
    <button type="submit">Submit</button>
  </form>
  <div style="height: 60px">x</div>
  <form #ngForm>
    <app-form-field>
      <label appLabel>Hello static</label>
      <input  appInput name='value' [(ngModel)]="value">
    </app-form-field>
  </form>
-->
<section class="main-container" id="home-container">
  <div class="main-container-holder">
    <app-yellow-waves></app-yellow-waves>
    <div class="main-text">Only for Animal Lovers</div>
    <div class="main-description">Let's find a perfect Sitter!</div>
    <app-short-form></app-short-form>
  </div>
</section>


<!-- ABOUT PETSUPPORT -->
<section class="service-container" id="about-container">
  <div class="container-title" style="padding-top: 70px;">
    <br><br>
    What You can get from Us
  </div>

</section>
<section class="advantages" id="advantages-container">

  <div class="advantages-holder">
    <div class="advantage">
      <div class="left-advantage">

        <div class="info-container">
          <div class="info-title">
            Pomoc na wiele sposobow
          </div>
          <div class="info-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="right-advantage">

        <div class="info-container">
          <div class="info-title">
            Doswiadczeni opiekunowie
          </div>
          <div class="info-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </div>
        </div>
      </div>
    </div>

    <div class="advantage">
      <div class="left-advantage">

        <div class="info-container">
          <div class="info-title">
            Przyjazn na lata
          </div>
          <div class="info-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="right-advantage">

        <div class="info-container">
          <div class="info-title">
            Z miłosci do zwierzat
          </div>
          <div class="info-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-holder img-md">
    <img class="dashboard" src="assets/MainPage/main-photo5a.jpg"/>
  </div>
  <br><br><br><br><br>
</section>


<!-- PROBY KART Z SERWISAMI -->

<app-services-cards></app-services-cards>

<!-- PROBY KART Z SERWISAMI WYZEJ^ -->


<section class="service-container" id="about-container">
  <div class="container-title" style="padding-top: 20px; padding-bottom: 80px;">

    Services We Provide
  </div>
  <div class="container-description" style="padding-bottom: 30px;">
    Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!
  </div>
</section>


<section class="service-container" id="about-container">

  <img src="assets/Icons/ServiceIcons/walking.png" class="small-icons"/>
  <div class="service-title" style="font-size: 14px; padding-top: 10px;">
    Walking
  </div>
  <div>
    You can't always predict a crazy day at work, but you can anticipate your dog's needs. Instead of rushing home at
    lunch, book a dog walker to give your dog a 30-minute dog walk. Your dog walker can stop by as many times as you
    need—on whatever days you need them.
  </div>
  <img src="assets/Icons/ServiceIcons/boarding.png" class="small-icons"/>
  <div class="service-title" style="font-size: 14px; padding-top: 10px;">
    Boarding
  </div>
  <div>
    Connect with a 5-star sitter who'll welcome your dog into their home when you're out of town—whether it’s just for
    the weekend or over a few weeks. Dog boarding is great for:
  </div>
  <img src="assets/Icons/ServiceIcons/sitting.png" class="small-icons"/>
  <div class="service-title" style="font-size: 14px; padding-top: 10px;">
    House Sitting
  </div>
  <div>
    Heading out of town? It's easy to book a 5-star sitter to take care of your dog and your home. House sitting is
    great for:
  </div>
  <img src="assets/Icons/ServiceIcons/daycare.png" class="small-icons"/>
  <div class="service-title" style="font-size: 14px; padding-top: 10px;">
    Day Care
  </div>
  <div>
    Thousands of sitters on Rover are happy to take care of your dog while you're at work or unavailable for the day.
    Book a one-time visit, or set up a regular rhythm with your favorite sitter. Drop off your dog at their sitter's
    home and know they'll get frequent potty breaks, plenty of playtime, and lots of love. Doggy day care is great for:
  </div>
  <img src="assets/Icons/ServiceIcons/dropin-visit.png" class="small-icons"/>
  <div class="service-title" style="font-size: 14px; padding-top: 10px;">
    Drop-in visit
  </div>
  <div>
    Is your dog happy to nap at home all day—or is your dog actually a cat? Instead of a full-time pet sitter, book
    someone to drop by a few times a day to feed and check on your pets. Drop-in visits are great for:
    <br><br><br><br><br>
  </div>
</section>


<section>
  <!-- +++ carusel with services cards +++ -->
  <app-card-carusel [slides]="[{'image': 'assets/MainPage/carusel3.jpg'},
    {'image': 'assets/MainPage/carusel1.jpg'},
    {'image': 'assets/MainPage/carusel3.jpg'},
    {'image': 'assets/MainPage/carusel1.jpg'},
    {'image': 'assets/MainPage/carusel3.jpg'}]"></app-card-carusel>
  <!-- ^^^ carusel with services cards ^^^ -->
</section>

<!--
<section class="advantages" id="advantages-container">
    <div class="image-holder img-md">
        <img class="dashboard2" src="/assets/MainPage/main-photo4.jpg" />
    </div>
    <div class="advantages-holder">
        <div class="advantage">
            Serwisydsdsdsdsdsdsd
        </div>
    </div>
</section>
-->
