@import 'colors.scss';
/* Services */
p {
  color: white;
}

section.services {
  padding-top: 60px;
  text-align: center;
  background-color: #1E1E2B;
}

section.services .title {
  font-size: 40px;
  margin-bottom: 20px;
}


.atata {
  display: inline-block;
  width: 30.5%;
  min-height: 30px;
  margin: 1%;
  box-shadow: var(--smart-elevation-2);
  box-sizing: border-box;
  font-family: Arial;
  font-size: 14px;
}


section.services smart-card.service-card {
  width: 100%;

}

section.services smart-card.service-card .services-icon {
  color: #FFCB3D;
  margin-top: 20px;
}

section.services smart-card.service-card .services-icon i {
  font-size: 40px;
}

section.services smart-card.service-card .services-content {
  padding: 10px 20px;
}

section.services smart-card.service-card .services-content .services-title a {
  color: #fafafa;
  text-decoration: none;
  font-size: 20px;
}

section.services smart-card.service-card:hover {
  background: $primary;
  color: #dedede;
  cursor: pointer;
}

section.services smart-card.service-card:hover .services-title a,
section.services smart-card.service-card:hover .services-icon i {
  color: white;
}

/* Services ^ */

h2 {
  color: white;
  font-family: Arial;
}

.buttonBP {
  border: 2px solid $primary;
  background-color: #1E1E2B;
  color: white;
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 30px;
  font-size: 14px;
  box-shadow: var(--smart-elevation-2);
}

.buttonFP {
  background-color: #0B814A;
  color: white;
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 30px;
  box-shadow: var(--smart-elevation-2);
  font-size: 14px;
}


@media only screen and (max-width: 700px) {
  section.service-container,
  section.service-second-container {
    grid-template-columns: none;
  }

  .service-container > div:last-child,
  section.service-second-container > div:first-child {
    text-align: center;
  }

  .service-container > div:last-child {
    margin-top: 20px;
  }

  section.service-second-container > div:first-child {
    margin-bottom: 20px;
  }
}



section.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.tile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
.tile {
  padding: 20px;
  width: calc(100vw/3 - 60px)
}
.tile:hover {
  background: #41B883;
  color: #dedede;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .tile {
    width: calc(100vw/2 - 60px)
  }
}
@media only screen and (max-width: 600px) {
  .tile {
    width: calc(100vw - 40px)
  }
}

