<section class="services" id="services-container">
  <div class="title" style="color: #20af6c; font-weight: bold; text-shadow: 1px 1px black;">
    Our Services
  </div>
  <section class="tile-container">
    <article class="tile">
      <smart-card class="service-card">
        <div class="services-icon">
          <i class="material-icons">
            directions_walk
          </i>
        </div>
        <div class="services-content">
          <h5 class="services-title"><a href="javascript:void(0)">Walking</a></h5>
          <p class="text">You can't always predict a crazy day at work, but you can anticipate your dog's needs. Instead
            of rushing home at lunch, book a dog walker to give your dog a 30-minute dog walk. Your dog walker can stop
            by as many times as you need—on whatever days you need them.</p>
        </div>
      </smart-card>
    </article>

    <article class="tile">
      <smart-card class="service-card">
        <div class="services-icon">
          <i class="material-icons">
            luggage
          </i>
        </div>
        <div class="services-content">
          <h5 class="services-title"><a href="javascript:void(0)">Boarding</a></h5>
          <p class="text">Connect with a 5-star sitter who'll welcome your dog into their home when you're out of
            town—whether it’s just for the weekend or over a few weeks. Dog boarding is great for:</p>
        </div>
      </smart-card>
    </article>

    <article class="tile">
      <smart-card class="service-card">
        <div class="services-icon">
          <i class="material-icons">
            house
          </i>
        </div>
        <div class="services-content">
          <h5 class="services-title"><a href="javascript:void(0)">House Sitting</a></h5>
          <p class="text">Heading out of town? It's easy to book a 5-star sitter to take care of your dog and your home.
            Heading out of town? It's easy to book a 5-star sitter to take care of your dog and your home.</p>
        </div>
      </smart-card>
    </article>

    <article class="tile">
      <smart-card class="service-card">
        <div class="services-icon">
          <i class="material-icons">
            spa
          </i>
        </div>
        <div class="services-content">
          <h5 class="services-title"><a href="javascript:void(0)">Day Care</a></h5>
          <p class="text">Thousands of sitters on Rover are happy to take care of your dog while you're at work or
            unavailable for the day. Book a one-time visit, or set up a regular rhythm with your favorite sitter. Drop
            off your dog at their sitter's home.</p>
        </div>
      </smart-card>
    </article>

    <article class="tile">
      <smart-card class="service-card">
        <div class="services-icon">
          <i class="material-icons">
            next_plan
          </i>
        </div>
        <div class="services-content">
          <h5 class="services-title"><a href="javascript:void(0)">Drop-in visit</a></h5>
          <p class="text">Is your dog happy to nap at home all day—or is your dog actually a cat? Instead of a full-time
            pet sitter, book someone to drop by a few times a day to feed and check on your pets. Drop-in visits are
            great for:
          </p>
        </div>
      </smart-card>
    </article>

    <article class="tile">
      <smart-card class="service-card">
        <div class="services-icon">
          <i class="material-icons">
            favorite
          </i>
        </div>
        <div class="services-content">
          <h5 class="services-title"><a href="javascript:void(0)">Special wishes</a></h5>
          <p class="text">If you need any other servises - just ask our Petsitter! We are sure they would love to help
            you with your pet. If you need any other servises - just ask our Petsitter! We are sure they would love to
            help you with your pet.</p>
        </div>
      </smart-card>
    </article>
  </section>
  <article>
    <div>
      <div>
        <h2>Don't waste your time</h2>
      </div>
      <div>
        <a appButton routerLink="/petsitters">Find Petsitter</a>
      </div>
      <div>
        <h2>or join Us</h2>
      </div>
      <div>
        <a
          appButton
          class="bg-primary rounded-full p-4 wd-500px"
          routerLink="/become-petsitter">Become Petsitter</a>
      </div>
    </div>

  </article>
</section>


<!--

<section class="brands" id="brands-carousel-container">
    <smart-carousel swipe="true" id="carouselBrands" class="horizontal" auto-play slide-show loop hide-indicators keyboard display-mode="3d" interval="1500" hide-indicators hide-arrows></smart-carousel>
</section>
-->
