<div class="contact-form-success-page">
  <mat-card class="contact-form-success-card">
    <mat-card-title>
      <h1>Your booking</h1>
    </mat-card-title>
    <mat-card-content>
      <span>You choose</span>
      <span class="information">[{{name}} {{surname}}]</span>
      <span>for dates</span>
      <span class="information">{{startDate}} - {{endDate}}</span>
      <span>services with you choose</span>
      <span class="information">{{services}}</span>
    </mat-card-content>
  </mat-card>
</div>
