<form [formGroup]="signupForm">
    <div class="title-name">Birthday</div>
    <app-form-field>
        <label appLabel>Birthday</label>
      <textarea appInput formControlName="birthday"></textarea>
    </app-form-field>


    <div class="label">
    <div class="title-name">
        Short title about you
        <div class="title-info">
            Make your headline short, descriptive and genuine. This will be your first introduction to pet owners
            when they search for service.
        </div>
    </div></div>


    <app-form-field>
        <label appLabel>Short title about you</label>
      <textarea appInput formControlName="title"></textarea>
    </app-form-field>


    <div class="title-name">
        Experience
        <div class="title-info">
            Describe any past experiences you've had with pets, Lead with what sets you apart from other
            sitters. Do you have any special skills?
        </div>
    </div>


    <app-form-field>
        <label appLabel>Experience</label>
      <textarea appInput formControlName="experience"></textarea>
    </app-form-field>

    <div class="title-name">
        Availability
        <div class="title-info">
            Let pet owners know about your availability for each service you want to provide. For example do
            you work full time or part time etc.
        </div>
    </div>

    <app-form-field>
        <label appLabel>Availability</label>
      <textarea appInput formControlName="availability"></textarea>
    </app-form-field>

    <div class="title-name">
        Environment
        <div class="title-info">
            Describe the environment where you will provide home services as well as amentities that set you
            apart such as large yards, daily runs, nearby dog parks etc.
        </div>
    </div>

    <app-form-field>
        <label appLabel>Environment</label>
      <textarea appInput formControlName="environment"></textarea>
    </app-form-field>
    <button appButton>Submit</button>
</form>
