<div class="container">
  <div class="col1">
    <div class="card-title">Edit Profile</div>
  </div>
  <div class="col2">
    <div class="border-right">
      <div class="col2-1">
        <div class="edit">
          <button appButton (click)="onPressBasicInfo()">
            Basic info
          </button>
        </div>
        <div class="edit">
          <button appButton (click)="onPressAddress()">
            Address
          </button>
        </div>
        <div class="edit">
          <button appButton (click)="onPressServices()">
            Services
          </button>
        </div>
        <div class="edit">
          <button appButton (click)="onPressPersonalInfo()">
            Personal info
          </button>
        </div>
      </div>
    </div>

    <div class="forms">
      <div *ngIf="display1">
        <app-bi-form
          (onFormChanged)="onFormChange1($event)"
          (formValid)="onStatusChange1($event)">
        </app-bi-form>
        <div>
          <button
            appButton
            [disabled]="!isFormValid1"
            routerLinkActive="activebutton"
            (click)="onSubmit1()">
            Save changes
          </button>
        </div>
      </div>
      <div *ngIf="display2">
        <app-a-form
          (onFormChanged)="onFormChange2($event)"
          (formValid)="onStatusChange2($event)">
        </app-a-form>
        <div>
          <button
            appButton
            [disabled]="!isFormValid2"
            routerLinkActive="activebutton"
            (click)="onSubmit2()">
            Save changes
          </button>
        </div>
      </div>

      <div *ngIf="display3">
        <app-s-form (onFormChanged)="onFormChange3($event)"
                    (formValid)="onStatusChange3($event)"></app-s-form>
        <div>
          <button
            appButton
            [disabled]="!isFormValid4"
            routerLinkActive="activebutton"
            (click)="onSubmit3()"
          >Save changes
          </button>
        </div>
      </div>

      <div *ngIf="display4">
        <app-pi-form
          (onFormChanged)="onFormChange4($event)"
          (formValid)="onStatusChange4($event)">
        </app-pi-form>
        <div>
          <button
            appButton
            [disabled]="!isFormValid4"
            routerLinkActive="activebutton"
            (click)="onSubmit4()"
          >Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
