<div class="container">
    <div class="col1">
        <div class="card-title">Edit Profile</div>
        <hr>
        <br><br>
    </div>
    <div class="col2">
        <div class="border-right">
            <div class="col2-1">
                <div class="edit">
                    <button  mat-raised-button 
                    class="journey-btn"
                    (click)="onPressBasicInfo()"
                    >Basic info</button>
                </div>
                <div class="edit">
                    <button mat-raised-button 
                    class="journey-btn"
                    (click)="onPressAddress()"
                    >Address</button>
                </div>
                <div class="edit">
                    <button mat-raised-button 
                    class="journey-btn"
                    (click)="onPressServices()"
                    >Services</button>
                </div>
                <div class="edit">
                    <button mat-raised-button 
                    class="journey-btn"
                    (click)="onPressPersonalInfo()"
                    >Personal info</button>
                </div>
            </div>
        </div>
   
        <div class="forms">
            <div *ngIf="display1">
                <app-bi-form></app-bi-form>
                <div>
                    <button mat-raised-button 
                    class="save-btn"
                    routerLinkActive="activebutton"
                    >Save changes</button>
                </div>
            </div>
            <div *ngIf="display2">
                <app-address></app-address>
                <div>
                    <button mat-raised-button 
                    class="save-btn"
                    routerLink="/register-form/basic-info"
                    routerLinkActive="activebutton"
                    (click)="address.onSubmit()"
                    >Save changes</button>
                </div>
            </div>
            <div *ngIf="display3">
                <app-services></app-services>
                <div>
                    <button mat-raised-button 
                    class="save-btn"
                    routerLink="/register-form/basic-info"
                    routerLinkActive="activebutton"
                    >Save changes</button>
                </div>
            </div>
            <div *ngIf="display4">
                <app-personal-info></app-personal-info>
                <div>
                    <button mat-raised-button 
                    class="save-btn"
                    routerLinkActive="activebutton"
                    >Save changes</button>
                </div>
            </div>
            
        </div>

        
    </div>
  
</div>


<!--
    <div class="edit">
        <button mat-raised-button 
        class="journey-btn"
        routerLink="/register-form/basic-info"
        routerLinkActive="activebutton"
        >Personal info</button>
    </div>
-->