<div class="container">
    <div class="col1">
        <div class="card-title">Edit Profile</div>
        <hr>
        <br><br>
    </div>
    <div class="col2">
        <div class="border-right">
            <div class="col2-1">
                <div class="edit">
                    <a  mat-raised-button 
                    class="journey-btn"
                    routerLink="/basic-info" routerLinkActive="activebutton"
                    >Basic info</a>
                </div>
                <div class="edit">
                    <a mat-raised-button 
                    class="journey-btn"
                    routerLink="/register-form/basic-info"
                    >Address</a>
                </div>
                <div class="edit">
                    <a mat-raised-button 
                    class="journey-btn"
                    routerLink="/register-form/basic-info"
                    >Services</a>
                </div>
                <div class="edit">
                    <a mat-raised-button 
                    class="journey-btn"
                    routerLink="/register-form/basic-info"
                    >Personal info</a>
                </div>
            </div>
        </div>
        <div>
            <app-basic-info></app-basic-info>
        </div>
    </div>
</div>

<nav>
    <a class="button" routerLink="/basic-info" routerLinkActive="activebutton">Crisis Center</a> |
    <a class="button" routerLink="/basic-info" routerLinkActive="activebutton">Heroes</a>
  </nav> 
  <router-outlet></router-outlet>

