
/*--------------------------------------------*/

mat-card {
  box-shadow: none !important;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  background-color: white;
}

.col1 {
  justify-content: center;
  padding-bottom: 20px;
}

.col2 {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}

.card-title {
  color: #0B814A;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.border-right {
  border-right: 1px solid rgb(209, 209, 209);
}

.col2-1{
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-weight: bold;
  font-size: 16px;
  

}

.journey-btn {
  background-color: none;
  text-decoration: none;
  color: black;
  font-weight:500;
  font-size: 15px;
  width: 190px;
  border-radius: 10px;
  padding: 3px 0 ;
  margin-left: 13px !important;
  margin-right: 13px !important;
}
.journey-btn:hover {
  background-color:#ffbb00;
  border-radius: 25px;
}

.edit {
  padding-bottom: 10px;
  padding-top: 10px;
}