<div class="container">

  <form [formGroup]="shortFormSettings" errorTailor (ngSubmit)="onSubmit()">

    <app-services-part [services]="shortFormSettings"></app-services-part>
    <!-- SEARCH USER SELECTION-->

    <div class="secondFormPart">

      <div class="form-group">
        <div class="location">
          <app-form-field>
            <label appLabel>Location</label>
            <input appInput formControlName="location" controlErrorsClass="mb-6">
            <app-input-error>
<!--              <span class="error-form-display" *ngIf="shortFormSettings.get('location').errors?.required">
               Please enter location where you want to do a service!
            </span>
              <span class="error-form-display" *ngIf="shortFormSettings.get('location').errors?.pattern">
              The location should contains only letters!
            </span>-->
            </app-input-error>
          </app-form-field>
        </div>

        <div formGroupName="dateRange">
          <mat-form-field color="accent" appearance="fill">
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="stopDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row">
          <app-form-field>
            <label appLabel>Pet</label>
            <input appInput formControlName="typePet">
            <app-input-error>
              <span class="error-form-display" *ngIf="shortFormSettings.get('typePet').errors?.pattern">
              Pet type should contain only letters!
              </span>
            </app-input-error>

          </app-form-field>
        </div>
        <button (click)="sendForm()">
          <img src="../../../../../assets/shortFormImages/search.png">
        </button>
      </div>
    </div>

  </form>
</div>

