.form-second-part {
  @apply
  relative
  mx-auto p-2 px-4
  flex justify-center
  rounded-full
  bg-white;

  app-form-field {
    @apply mr-6;
  }
  @media(max-width: 1280px) {
    app-form-field {
      max-width: 140px;
    }
  }
}
.search-button {
  @apply bg-yellow relative left-0 border-2 border-gray rounded-full;
  width: 60px;
  height: 60px;
  padding: 10px 13px 10px 10px;

  &:hover, &:focus {
   opacity: 0.8;
  }
}
