.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.tile-container {
  width: 100%;
  background: white;
  padding: 20px 0px;
  cursor: pointer;
}
.tile-container:hover {
  background: #f1efef;
}


img {
  margin-right: 20px;
  min-width: 150px;
  height: 100px;
  width: 100px;
  min-height: 100px;
  border-radius: 5px;
}
