<div class="flex-row tile-container" (click)="navigateToPetsitterDetails(petsitter.id)">
  <div class="petsitter-image">
    <img [src]="petsitter.imageId != null? petsitter.imageId : 'assets/PetsitterDetail/default-petsitter-image.png'"
         alt="Petsitter main picture">
  </div>
  <div class="flex-column">
    <h3>{{petsitter.name}}</h3>
    <div class="flex-row subtitle" >
      <h4 style="margin-right: 15px">
        {{petsitter.city}}
      </h4>
      <span></span>
      <h4>
        {{petsitter.price}} $/h
      </h4>
    </div>
    <div>
      {{petsitter.description}}
    </div>
  </div>
</div>
