
<!-- MAIN VIEW (PHOTO, SHORT FORM, SHORT TEXT) -->
<section class="main-container" id="home-container">
    <div class="main-container-holder">
      <!-- ozdobne, żółte fale -->
      <div class="y-waves-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="457.639" height="44.433" viewBox="0 0 457.639 44.433">
          <g id="Group_7" data-name="Group 7" transform="translate(-45.904 -160.581)">
            <g id="Group_1" data-name="Group 1" transform="translate(-550 -1184.405)">
              <path id="Path_3" data-name="Path 3" d="M434,1029.809s24.795-35.09,50.481,0,50.481,0,50.481,0,24.468-32.5,50.481,0,50.481,0,50.481,0,24.14-26.441,50.481,0" transform="translate(363.595 339)" fill="none" stroke="#eed423" stroke-width="10"/>
              <path id="Path_4" data-name="Path 4" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,26.789-28.28,49.472,4.686" transform="translate(166 335.786)" fill="none" stroke="#eed423" stroke-width="10"/>
            </g>
            <path id="Path_6" data-name="Path 6" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,20.055-26.441,46.145,0" transform="translate(-384 -848.618)" fill="none" stroke="#eed423" stroke-width="10"/>
          </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="457.639" height="44.433" viewBox="0 0 457.639 44.433">
          <g id="Group_7" data-name="Group 7" transform="translate(-45.904 -160.581)">
            <g id="Group_1" data-name="Group 1" transform="translate(-550 -1184.405)">
              <path id="Path_3" data-name="Path 3" d="M434,1029.809s24.795-35.09,50.481,0,50.481,0,50.481,0,24.468-32.5,50.481,0,50.481,0,50.481,0,24.14-26.441,50.481,0" transform="translate(363.595 339)" fill="none" stroke="#eed423" stroke-width="10"/>
              <path id="Path_4" data-name="Path 4" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,26.789-28.28,49.472,4.686" transform="translate(166 335.786)" fill="none" stroke="#eed423" stroke-width="10"/>
            </g>
            <path id="Path_6" data-name="Path 6" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,20.055-26.441,46.145,0" transform="translate(-384 -848.618)" fill="none" stroke="#eed423" stroke-width="10"/>
          </g>
        </svg>
      </div>
        <!-- ^^^ ozdobne, żółte fale ^^^ -->
  
        <div class="main-text">Only for Animal Lovers</div>
        <div class="main-description">Let's find a perfect Sitter!</div>
    </div>
  </section>
  
  <!-- ABOUT PETSUPPORT -->
  <section class="service-container" id="about-container">
    <div class="container-title" style="padding-top: 80px;">
        <br><br>
        What You can get from Us
    </div>
    
</section>

 <!-- ozdobne, żółte fale -->
 <div class="main-container-holder-about">
 <div class="y-waves-left">
    <svg xmlns="http://www.w3.org/2000/svg" width="457.639" height="44.433" viewBox="0 0 457.639 44.433">
      <g id="Group_7" data-name="Group 7" transform="translate(-45.904 -160.581)">
        <g id="Group_1" data-name="Group 1" transform="translate(-550 -1184.405)">
          <path id="Path_3" data-name="Path 3" d="M434,1029.809s24.795-35.09,50.481,0,50.481,0,50.481,0,24.468-32.5,50.481,0,50.481,0,50.481,0,24.14-26.441,50.481,0" transform="translate(363.595 339)" fill="none" stroke="#eed423" stroke-width="10"/>
          <path id="Path_4" data-name="Path 4" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,26.789-28.28,49.472,4.686" transform="translate(166 335.786)" fill="none" stroke="#eed423" stroke-width="10"/>
        </g>
        <path id="Path_6" data-name="Path 6" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,20.055-26.441,46.145,0" transform="translate(-384 -848.618)" fill="none" stroke="#eed423" stroke-width="10"/>
      </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="457.639" height="44.433" viewBox="0 0 457.639 44.433">
      <g id="Group_7" data-name="Group 7" transform="translate(-45.904 -160.581)">
        <g id="Group_1" data-name="Group 1" transform="translate(-550 -1184.405)">
          <path id="Path_3" data-name="Path 3" d="M434,1029.809s24.795-35.09,50.481,0,50.481,0,50.481,0,24.468-32.5,50.481,0,50.481,0,50.481,0,24.14-26.441,50.481,0" transform="translate(363.595 339)" fill="none" stroke="#eed423" stroke-width="10"/>
          <path id="Path_4" data-name="Path 4" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,26.789-28.28,49.472,4.686" transform="translate(166 335.786)" fill="none" stroke="#eed423" stroke-width="10"/>
        </g>
        <path id="Path_6" data-name="Path 6" d="M434,1029.809s24.559-35.09,50,0,50,0,50,0,24.234-32.5,50,0,50,0,50,0,20.055-26.441,46.145,0" transform="translate(-384 -848.618)" fill="none" stroke="#eed423" stroke-width="10"/>
      </g>
    </svg>
  </div></div>
    <!-- ^^^ ozdobne, żółte fale ^^^ -->

<section class="advantages" id="advantages-container">

    <div class="advantages-holder">
        <div class="advantage">
            <div class="left-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Pomoc na wiele sposobow
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="right-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Doswiadczeni opiekunowie
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.    
                    </div>
                </div>
            </div>
        </div>

        <div class="advantage">
            <div class="left-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Przyjazn na lata
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.    
                    </div>
                </div>
            </div>
            <div class="right-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Z miłosci do zwierzat
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-holder img-md">
        <img class="dashboard" src="/../assets/MainPage/main-photo3.jpg" />
    </div>
</section>

<section class="service-container" id="about-container">
    <div class="container-title" style="padding-top: 130px;">
        <br><br>
        Services We Provide
    </div>
    <div class="container-description">
        Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!
    </div>
</section>

<section class="advantages" id="advantages-container">
    <div class="image-holder img-md">
        <img class="dashboard" src="/../assets/MainPage/main-photo2.jpg" />
    </div>
    <div class="advantages-holder">
        <div class="advantage">
            Serwisydsdsdsdsdsdsd
        </div>
    </div>
</section>

  