<div class="container">
  <div class="pets-icon">
    <img src="../../../../../assets/LoginIcons/pets.png" alt="Friendly pets icon">
  </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button appButton>Continue</button>
      </form>
    <div class="or-container">
      <div class="green-or-space"></div>
      <span>or</span>
      <div class="green-or-space"></div>
    </div>
    <div class="social-media">
      <button class="facebook">
        <div class="img-facebook"><img src="../../../../../assets/LoginIcons/facebook.png" alt="facebook icon"></div>
        <div class="desc-facebook"> LOGIN WITH FACEBOOK</div>
      </button>
      <button class="google">
        <div class="img-google"><img src="../../../../../assets/LoginIcons/google.png" alt="google icon"></div>
        <div class="desc-google"> LOGIN WITH GOOGLE</div>
      </button>
    </div>


</div>

