@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab&display=swap');
/*Main container*/
.container{
  max-width: 300px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(254, 203, 64);
}
.form-check-label input{
  all:unset;
}
form{
  justify-content: center;
  display: inline-block;
}
span{
  position: relative;
  top: 5px;
  margin-right: 10px;
}
/*Div containers for every field form */
.priceRange{
  max-width:250px;
}

mat-form-field{
  width: 240px;
  /*padding:0px 10px 0px 0;*/
}
#startDate{
  font-size: 12px;
  width: 120px;
  padding: 5px 0 5px 5px;
}
#stopDate{
  font-size: 12px;
  width: 120px;
  padding: 5px 0 5px 5px;
}

mat-form-field {
  background-color: white;
}
.form-range-from{
  display: inline-block;
  margin-right: 10px;
}
/**/
/*.form-range-from, .form-range-to input{*/
/*  width: 100px;*/
/*}*/

.form-range-to{
  display: inline-block;
}

#location{
  margin-top:10px;
  width: 90px;
  padding: 5px;
}
.numberOfPets{

}
.service select{
  font-size: 10px;
  padding: 8px 5px;
}
select{
  margin-top:10px;
  width: 100px;
  padding: 5px;
  border: solid 1px lightblue;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.rateRange{
  max-width:250px;
}
.rate-label{
  text-align: center;

}
.animalType{

}
.hasPet{

}
/*Input styling*/
input{
  width: 100px;
  /*padding: 5px;*/
  /*justify-content: center;*/
  border: solid 1px lightblue;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}
label{
  margin-top:10px;
}

div{
  margin-top:10px;
}

/*BUTTONS*/
button{
  font-weight: bold;
  margin: 20px auto 10px;
  width: 120px;
  padding: 10px 20px;
  font-size: 9px;
  border-radius: 50px;
}
.reset{
  background-color: rgb(254, 203, 64);
  border: solid 2px white;
  margin-right: 30px;
}
.apply{
  background-color: darkgreen;
  color: white;
}
button:hover{
  background-color: green;
}



