/*Main container*/
.container{
  max-width: 300px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(254, 203, 64);
}
form{
  justify-content: center;
  display: inline-block;
}
span{
  position: relative;
  top: 5px;
  margin-right: 10px;
}
/*Div containers for every field form */
.priceRange{
  max-width:250px;
}
/*Date range*/
.dateRange{
  display: flex;
  flex-direction: row;
}
.dateRange label {
  display: block;
}
.form-range-from{
  display: inline-block;
  margin-right: 30px;
}
.form-range-from input{
  width: 100px;
}
.form-range-from, .form-range-to input{
  width: 100px;
}

.form-range-to{
  display: inline-block;
}

#location{
  margin-top:10px;
  width: 90px;
  padding: 5px;
}
.numberOfPets{

}
.service{

}
select{
  margin-top:10px;
  width: 100px;
  padding: 5px;
  border: solid 1px lightblue;
}
.rateRange{
  max-width:250px;
}
.animalType{

}
.hasPet{

}
/*Input styling*/
input{
  width: 100px;
  padding: 5px;
  /*justify-content: center;*/
  border: solid 1px lightblue;
}
label{
  margin-top:10px;
}

div{
  margin-top:10px;
}

/*BUTTONS*/
button{
  font-weight: bold;
  margin: 20px auto 10px;
  width: 120px;
  padding: 10px 20px;
  font-size: 6pt;
  border-radius: 50px;
}
.reset{
  background-color: rgb(254, 203, 64);
  border: solid 2px white;
  margin-right: 30px;
}
.apply{
  background-color: darkgreen;
  color: white;
}
button:hover{
  background-color: green;
}
