<app-main-nav>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>

  <ul style="display: flex; margin-bottom:20px">
    <li style="margin-right: 20px"><a routerLink="/petsitters" routerLinkActive="active">Petsitters</a></li>
    <li style="margin-right: 20px"><a routerLink="/main-page" routerLinkActive="active">Main Page</a></li>
    <li style="margin-right: 20px"><a routerLink="/become-petsitter" routerLinkActive="active">Become Petsitter</a></li>
    <li style="margin-right: 20px"><a routerLink="/register-form/basic-info" routerLinkActive="active">Form 1 - Basic info</a></li>
    <li style="margin-right: 20px"><a routerLink="/register-form/address" routerLinkActive="active">Form 2 - Address</a></li>
    <li style="margin-right: 20px"><a routerLink="/register-form/personal-info" routerLinkActive="active">Form 4 - Personal info</a></li>
    <li style="margin-right: 20px"><a routerLink="/register-form/services" routerLinkActive="active">Form 3 - Services</a></li>
    <li style="margin-right: 20px"><a routerLink="/register-form/test2" routerLinkActive="active">Form 1 - Test 2</a></li>
    <li style="margin-right: 20px"><a routerLink="/contact-form" routerLinkActive="active">Contact-form</a></li>
    <li style="margin-right: 20px"><a routerLink="/contact-form/success" routerLinkActive="active">Contact-form</a></li>
    <li style="margin-right: 20px"><a routerLink="/edit-profile" routerLinkActive="active">Edit prof</a></li>


  </ul>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
</app-main-nav>
