<app-main-nav>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/petsitters" routerLinkActive="active">Petsitters</a></li>
    <li><a routerLink="/main-page" routerLinkActive="active">Main Page</a></li>
    <li><a routerLink="/become-petsitter" routerLinkActive="active">Become Petsitter</a></li>
    <li><a routerLink="/register-form/basic-info" routerLinkActive="active">Register Form</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
</app-main-nav>

