

/* Main container */
section.main-container {
    height: 75vh;
    min-height: 450px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(../assets/MainPage/main-photo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main-container-holder {
    max-width: 450px;
    margin: 0 auto;
    padding-top: 200px;
}

section.main-container smart-button {
    max-width: 180px;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

section.main-container .main-text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 48px;
    
}

section.main-container .main-description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #ccc;
    
}
/* Main container ^ */


@media only screen and (max-width: 375px) {
    section.main-container smart-button {
        width: 130px;
    }
}
