div{
  width: auto;
}
mat-form-field{
  display: inline-block;
  justify-content: center;
  padding:6px 10px 0px 10px;
  border-right: solid lavender 1px;
  width: 150px;
}

mat-label{
  color:darkgreen;
  font-weight: bold;
  font-size: 12px;
}

.container{
  padding: 0px;
  margin: 120px auto 0px;
  display: flex;
  max-width: 890px;
  justify-content: center;
}

.serviceContainer{
  display: flex;
}

.form-check-label {
  padding: 10px 50px;
  max-width: 80px;
  margin: 20px;
  display: inline-block;
  border: slategray solid 1px;
  border-radius: 100px;
  background-color: white;
  justify-content: center;

}
img{
  max-width: 60px;
  justify-content: center;
}

button img{
  width: 40px;
  height: 40px;
  justify-content: center;
}
button {
  position: relative;
  left: 40px;
  width:  60px;
  height: 60px;
  border: solid 1px slategray;
  border-radius: 50%;
  background-color: rgb(254, 203, 64);
  margin: auto 20px auto 20px;
  /*left: 120px;*/
}
.form-group{
  font-size: 12px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}
.row{
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
}
.row:nth-last-child(2){
  width:15%;
}

.shortFormSearchIcon{
  margin-left: 20px;
}

.secondFormPart{
  -moz-border-radius: 15px;
  border-radius: 35px;
  margin:auto;
  background-color: white;
  height: 70px;
}

label{
  color:darkgreen;
  font-weight: bold;
}

row:last-child{
  background-color: black;
}
#pet{
  padding-left: 10px;
  z-index: 100;
}
#name{
  padding-left: 10px;
}
button:hover{
  background-color: orange;
}

label div.form-check-label input{
  color: white;
  font-size: 0;
  display: none;
}
.mat-form-field-appearance-fill .mat-form-field-flex mat-datepicker {
  background-color: white;
  color: black;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
}

.error-form-display{
  color:red;
  font-size: 12px;
}
