<div class="container">
  <form [formGroup]="shortFormSettings" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <!--      PET SELECTION  -->
      <label for="boarding">
      <div class="form-check-label" [ngStyle]="shortFormSettings.get('service').value == 'boarding' &&
             {
               'background-color': 'rgb(254, 203, 64)'
              }">
        <input type="button"
               name="boarding"
               value=""
               formControlName="service"
               id="boarding"
               (click)="onServiceClick('boarding')">
        <img src="assets/shortFormImages/cocker-spaniel.png">
        Boarding
      </div>
     </label>
      <label for="houseSitting">
        <div class="form-check-label" [ngStyle]="shortFormSettings.get('service').value == 'houseSitting' &&
             {
              'background-color': 'rgb(254, 203, 64)'
             }">
          <input type="button"
                 name="houseSitting"
                 value=""
                 formControlName="service"
                 id="houseSitting"
                 (click)="onServiceClick('houseSitting')">

          <img src="assets/shortFormImages/dog-heart.png">
          House Sitting
        </div>
      </label>
      <label for="walking">
        <div class="form-check-label" [ngStyle]="shortFormSettings.get('service').value == 'walking' &&
             {
              'background-color': 'rgb(254, 203, 64)'
             }">

          <input type="button" class="form-check-label"
                 value=""
                 formControlName="service"
                 id="walking"
                 (click)="onServiceClick('walking')">

          <img src="assets/shortFormImages/dog-smiley.png">
          Walking
        </div>
      </label>
    </div>
    <!-- SEARCH USER SELECTION-->

    <div class="secondFormPart">

      <div class="form-group">
        <div class="location">
          <mat-form-field color="accent" appearance="fill">
            <mat-label >Location</mat-label>
            <input matInput formControlName="location">
          </mat-form-field>
        </div>

        <div formGroupName="dateRange">
          <mat-form-field color="accent" appearance="fill">
            <mat-label >From</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
<!--          <mat-error *ngIf="shortFormSettings.get('shortFormSettings.startDate')-->
<!--                                             .hasError('matStartDateInvalid')">-->
<!--            Invalid start date.-->
<!--          </mat-error>-->
<!--          <mat-error *ngIf="shortFormSettings.get('dateRange').hasError('invalidDOBYear')">-->
<!--            Select year greater than 2000.-->
<!--          </mat-error>-->

          <mat-form-field color="accent" appearance="fill">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="stopDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
<!--        <mat-error *ngIf="shortFormSettings.get('shortFormSettings.stopDate')-->
<!--                                             .hasError('invalidRange')">-->
<!--          Invalid end date.-->
<!--        </mat-error>-->

        <div class="row">
          <mat-form-field color="accent" appearance="fill">
            <mat-label >Pet</mat-label>
            <input matInput formControlName="typePet">
          </mat-form-field>
        </div>
        <button>
          <img src="assets/shortFormImages/search.png">
        </button>
      </div>
    </div>

  </form>
</div>
<br>Valid: {{ shortFormSettings.valid }}
<br>Value: {{ shortFormSettings.value | json }}
<br>&nbsp;

