<div class="container">
  <form [formGroup]="shortFormSettings" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <!--      PET SELECTION  -->
      <div class="serviceContainer">
        <div class="form-check-label"
             name="boarding"
             value="boarding"
             formControlName="service"
             id="boarding"
             (click)="onServiceClick('boarding')"
             [ngStyle]="shortFormSettings.get('service').value == 'boarding' &&
             {
              'border': 'solid darkgreen 2px', 'background-color': 'rgb(254, 203, 64)'
              }">
        <img src="assets/shortFormImages/cocker-spaniel.png">
        Boarding
        </div>

        <div class="form-check-label"
             type="button"
             name="houseSitting"
             value="houseSitting"
             formControlName="service"
             id="houseSitting"
             (click)="onServiceClick('houseSitting')"
             [ngStyle]="shortFormSettings.get('service').value == 'houseSitting' &&
             {
              'border': 'solid darkgreen 2px', 'background-color': 'rgb(254, 203, 64)'
             }">
        <img src="assets/shortFormImages/dog-heart.png">
        House Sitting
        </div>

        <div class="form-check-label"name="walking"
             value="walking"
             formControlName="service"
             id="walking"
             (click)="onServiceClick('walking')"
             [ngStyle]="shortFormSettings.get('service').value == 'walking' &&
             {
              'border': 'solid darkgreen 2px', 'background-color': 'rgb(254, 203, 64)'
             }">
        <img src="assets/shortFormImages/dog-smiley.png">
        Walking
        </div>
      </div>
      </div>

    <!-- SEARCH USER SELECTION-->
    <div class="secondFormPart">
      <div class="form-group">
        <div class="row">
          <label for="location">Location</label>
          <input id="location"
                 name="location"
                 class="form-control"
                 placeholder="Location"
                 formControlName="location">
        </div>
        <div formGroupName="dateRange">
          <mat-form-field color="accent" appearance="fill">
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field color="accent" appearance="fill">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="stopDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row">
          <label for="pet">Pet</label>
          <input id="pet"
                 name="typePet"
                 class="form-control"
                 placeholder="Pet"
                 formControlName="typePet">
        </div>
        <button>
          <img src="assets/shortFormImages/search.png">
        </button>
      </div>
    </div>
  </form>
</div>
<br>Valid: {{ shortFormSettings.valid }}
<br>Value: {{ shortFormSettings.value | json }}
<br>&nbsp;

