.mat-date-range-input {
  /*width: 50px;*/
}
div{
  width: auto;
}
mat-form-field{
  display: inline-block;
  justify-content: center;
  padding:6px 10px 0px 10px;
  background-color: white;
  border-right: solid lavender 1px;
  width: 185px;

}
mat-label{
  color:darkgreen;
  font-weight: bold;
  font-size: 12px;
  margin-left: 20px;
}

.container{
  padding: 0px;
  margin: 120px auto 0px;
  display: flex;
  max-width: 850px;
  justify-content: center;
}

.serviceContainer{
  display: flex;

}

.form-check-label {
  padding: 10px 50px;
  max-width: 80px;
  margin: 20px;
  display: inline-block;
  border: slategray solid 1px;
  border-radius: 100px;
  background-color: white;
  justify-content: center;

}
img{
  max-width: 60%;
  justify-content: center;
}

button img{
  width: 40px;
  height: 40px;
  justify-content: center;
}
button {
  all: unset;
  width:  60px;
  height: 60px;
  border: solid 1px slategray;
  border-radius: 50%;
  background-color: rgb(254, 203, 64);
  margin: auto 0 auto auto;
}
.form-check-label input{
  all: unset;
  /*display: table;*/
  /*padding: 15px 40px;*/
  /*margin: 30px;*/
  /*width: 180px;*/
  /*border: slategray solid 1px;*/
  /*border-radius: 100px;*/
  /*background-color: white;*/
  /*justify-content: center;*/
}

.form-group{
  font-size: 12px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
input{
  border: none;
  font-size: 1.2em;
  /*margin-left: -10px;*/
  /*border-left: 2px solid green;*/
}
.row{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: auto;
  text-align: left;
  border-right: solid lavender 1px;
}
.row:nth-last-child(2){
  width:15%;
}

.warrning{
  color: red;
}
.shortFormSearchIcon{
  margin-left: 20px;

}

.secondFormPart{
  border:solid black 2px;
  -moz-border-radius: 15px;
  border-radius: 35px;
  margin:auto;
  background-color: white;
  height: 70px;

}
label{
  color:darkgreen;
  font-weight: bold;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
row:first-child{
  /*padding-left: 10px;*/
  background-color: black;
}
row:last-child{
  /*padding-left: 10px;*/
  background-color: black;
}
#pet{
  padding-left: 10px;
}
#name{
  padding-left: 10px;
}
button:hover{
  background-color: orange;
}

label div.form-check-label input{
  color: white;
  font-size: 0;
  user-select: none;
}
