<section class="main-container" id="home-container">

    <div class="container">
        <mat-card>
          <mat-card-content>
              <h2>Thank You!</h2>
              <div>
                  <h5>
                    Thanks for joining our PetSupport
                    Family! Cick 'Save' buton to finish registration and
                    start a journey with us!
                  </h5>
              </div>
              <br>
              <mat-card-actions>
                <a mat-raised-button 
                class="continue-btn"
                routerLink="/pages/main-page"
                >Let's start!</a>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
  </section>