<form [formGroup]="signupForm" errorTailor class="flex flex-col m-auto">
  <app-form-field>
    <label appLabel>Street</label>
    <input appInput formControlName="street">
  </app-form-field>

  <app-form-field>
    <label appLabel>House nr / Flat nr</label>
    <input appInput
           formControlName="houseNr">
  </app-form-field>

  <app-form-field>
    <label appLabel>City</label>
    <input appInput
           formControlName="city">
  </app-form-field>

  <app-form-field>
    <label appLabel>Zip Code</label>
    <input appInput
           placeholder="Ex. 12-345"
           formControlName="zipCode">
  </app-form-field>

  <app-form-field>
    <label appLabel>Country</label>
    <input appInput
           formControlName="country">
  </app-form-field>
</form>
