/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.svg-icon.search-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: black;
}



