/* You can add global styles to this file, and also import other style files */
/* for sidenav to take a whole page */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; margin: 0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Typical PetSupport colours */
.PSyellow-background {
    background-color: #FFCB3D;
}
.PSyellow {
    color: #FFCB3D;
}
.PSgreen-background {
    background-color: #0B814A;
}
.PSgreen {
    color: #0B814A;
}

