@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";
@import 'colors.scss';
@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.svg-icon.search-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: black;
}

html, body { height: 100%; margin: 0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





