
.container{
  padding: 0px;
  margin: 120px auto 0px;
  display: flex;
  max-width: 890px;
  justify-content: center;
}

.serviceContainer{
  display: flex;
}


.form-check-label {
  padding: 10px 50px;
  max-width: 80px;
  margin: 20px;
  display: inline-block;
  border-radius: 100px;
  background-color: white;
  justify-content: center;
  border: 1px solid rgb(204, 204, 204);
  opacity: 94%;
}
img{
  max-width: 60px;
  justify-content: center;
}


button img{
  width: 40px;
  height: 40px;
  justify-content: center;
}
label{
  color:#0B814A;
  font-weight: bold;
}

.form-group{
  font-size: 12px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

label div.form-check-label input{
  color: white;
  font-size: 0;
  display: none;
}
