
<!-- MAIN VIEW (PHOTO, SHORT FORM, SHORT TEXT) -->
<app-long-form></app-long-form>

<section class="main-container" id="home-container">
    <div class="main-container-holder">
        <app-yellow-waves></app-yellow-waves>

        <div class="main-text">Only for Animal Lovers</div>
        <div class="main-description">Let's find a perfect Sitter!</div>
        <app-short-form></app-short-form>
    </div>
  </section>

  <!-- ABOUT PETSUPPORT -->
  <section class="service-container" id="about-container">
    <app-yellow-waves></app-yellow-waves>

    <div class="container-title" style="padding-top: 80px;">
        <br><br>
        What You can get from Us
    </div>

</section>
<section class="advantages" id="advantages-container">


    <div class="advantages-holder">
        <div class="advantage">
            <div class="left-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Pomoc na wiele sposobow
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="right-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Doswiadczeni opiekunowie
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>

        <div class="advantage">
            <div class="left-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Przyjazn na lata
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="right-advantage">
                <div class="image-container">
                    <img src="/../assets/MainPage/paw.png" />
                </div>
                <div class="info-container">
                    <div class="info-title">
                        Z miłosci do zwierzat
                    </div>
                    <div class="info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-holder img-md">
        <img class="dashboard" src="/../assets/MainPage/main-photo3.jpg" />
    </div>
</section>

<section class="service-container" id="about-container">
    <div class="container-title" style="padding-top: 130px;">
        <br><br>
        Services We Provide
    </div>
    <div class="container-description">
        Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!
    </div>
</section>

<section class="advantages" id="advantages-container">
    <div class="image-holder img-md">
        <img class="dashboard" src="/../assets/MainPage/main-photo2.jpg" />
    </div>
    <div class="advantages-holder">
        <div class="advantage">
            Serwisydsdsdsdsdsdsd
        </div>
    </div>
</section>
