<div class="petsittter-details-container">
  <div class="petsitter-upper-container">
    <div class="petsitter-image">
      <img [src]="petsitter.ImageId != null? petsitter.ImageId : 'assets/PetsitterDetail/default-petsitter-image.png'"
           alt="Petsitter main picture">
    </div>
    <div class="petsitter-description">
      <!--STAR RATING-->
      <div class="rate-container">
        <div class="rating-without-stars">
          <div class="rate-numeric"><b>{{petsitter.Rate}}</b></div>
          <div class="rate-text">rate</div>
        </div>
        <app-rate class="stars" [rating]='petsitter.Rate'></app-rate>
      </div>
      <h1><b>{{petsitter.Name}} {{petsitter.Surname}}</b></h1>
      <h2>{{petsitter.City}}</h2>
      <h3>{{petsitter.Description}}</h3>
    </div>

    <div class="petsitter-contact-button">
      <button> Contact Me </button>
    </div>


  </div>
  <hr>
  <div class="petsitter-middle-container">
    <app-petsitter-services [petsitter]="petsitter">

    </app-petsitter-services>
    <div class="galery">
        <carousel cellWidth="100%" [height]="400" [width]="600" [images]="[
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/1.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/2.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/3.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/4.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/5.jpg'}]">
        </carousel>
      <div class="galery2">
        <carousel [height]="100" [width]="600" [images]="[
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/1.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/2.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/3.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/4.jpg'},
        {'path': './../assets/PetsitterDetail/ExamplePetsitter/5.jpg'}]">
        </carousel>
      </div>

    </div>

  </div>
  <div class="petsitter-down-container">
        <app-petsitter-calendar></app-petsitter-calendar>

        <app-petsitter-reviews [petsitter]="petsitter">
          <div class="review">

            <hr>
          </div>
        </app-petsitter-reviews>
  </div>
</div>





