<form [formGroup]="signupForm" errorTailor class="flex flex-col m-auto">
  <app-form-field>
    <label appLabel>Name</label>
    <input appInput
           formControlName="name">
  </app-form-field>
  <app-form-field>
    <label appLabel>Surname</label>
    <input appInput
           formControlName="surname">
  </app-form-field>
  <app-form-field>
    <label appLabel>Email</label>
    <input appInput
           formControlName="email"
           placeholder="example@example.pl">
  </app-form-field>
  <app-form-field>
    <label appLabel>Phone</label>
    <input appInput
           formControlName="phone"
           placeholder="123456789">
  </app-form-field>
  <!--    <app-form-field>
          <label appLabel>Password</label>
          <input appInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
              <button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
          class="help-block">Please enter a valid Password</span>
      </app-form-field>
      <app-form-field>
          <label appLabel>Confirm Password</label>
          <input appInput
          [type]="hide ? 'confirmPassword' : 'text'"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="confirmPassword"
          formControlName="confirmPassword">
              <button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <span *ngIf="!signupForm.get('confirmPassword').valid && signupForm.get('confirmPassword').touched"
          class="help-block">Please confirm password corectly</span>
      </app-form-field>-->
  <button appButton class="w-3/12 m-auto" type="submit">Submit</button>
  <button appButton="error" class="w-3/12 m-auto" type="reset">Reset</button>
</form>
