<mat-grid-list cols="1" rowHeight="700px">
        <mat-grid-tile style="position:inherit;">
            <div class="example-container">
                <div class="card-title">Basic Info</div>
                <hr>
                <br><br>

                <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
                    <div formGroupName="userData">

                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Name</mat-label>
                        <input matInput
                        type="text"
                        name="name"
                        formControlName="name">
                        <span *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched" 
                        class="help-block">Please enter a valid Name</span>
                        <!--
                        <mat-error *ngFor="let validation of validation_messages.street">
                            <mat-error class="error-message" *ngIf="signupForm.get('street').hasError(validation.type) && (signupForm.get('street').dirty || signupForm.get('fullname').touched)">{{validation.message}}</mat-error>
                          </mat-error>
                        -->
                    </mat-form-field>
                    
                    <br>
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Surname</mat-label>
                        <input matInput
                        type="text"
                        name="surname"
                        formControlName="surname">
                        <span *ngIf="!signupForm.get('userData.surname').valid && signupForm.get('userData.surname').touched" 
                        class="help-block">Please enter a valid Surname</span>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Email</mat-label>
                        <input matInput
                        type="text"
                        id="email"
                        name="email"
                        formControlName="email">
                        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" 
                        class="help-block">Please enter a valid Email</span>
                    </mat-form-field>
                
                    <br>
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Phone</mat-label>
                        <input matInput
                        type="text"
                        placeholder="123456789"
                        id="phone"
                        name="phone"
                        formControlName="phone">
                        <span *ngIf="!signupForm.get('userData.phone').valid && signupForm.get('userData.phone').touched" 
                        class="help-block">Please enter a valid Phone number</span>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Password</mat-label>
                        <input matInput
                        [type]="hide ? 'password' : 'text'"
                        id="password"
                        name="password"
                        placeholder="Password"
                        formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <span *ngIf="!signupForm.get('userData.password').valid && signupForm.get('userData.password').touched" 
                        class="help-block">Please enter a valid Password</span>
                    </mat-form-field>

                    <br>
                    <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput
                        [type]="hide ? 'confirmPassword' : 'text'"
                        id="confirmPassword"
                        name="confirmPassword"
                        placeholder="confirmPassword"
                        formControlName="confirmPassword">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <span *ngIf="!signupForm.get('userData.confirmPassword').valid && signupForm.get('userData.confirmPassword').touched" 
                        class="help-block">Please confirm password corectly</span>
                    </mat-form-field>

                    <br> 
                    <span *ngIf="!signupForm.valid && signupForm.touched"></span>
                    <mat-card-actions>
                        <a mat-raised-button 
                        type="submit" 
                        color="primary"
                        routerLink="/register-form/services"
                        >NEXT</a>
                    </mat-card-actions> 
                </div>
                </form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    
