.example-radio-button{margin-left: 7px;}
mat-grid-tile {
  background:#fafafa;
}


mat-form-field {

  width: 3vw;
  margin: 7px;
  display: inline-block;
  border: slategray solid 1px;
  border-radius: 40px;
}
.example-radio-button{margin-left: 7px;}
mat-grid-tile {
  background:#fafafa;
}


mat-form-field {
  display: block;
  border: solid #8d8d8d 1px;
  -moz-border-radius: 15px;
  border-radius: 35px;
  padding: 0px 0px 2px;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin: 0px auto 1px;
  width: 90%;
  background-color: white;
}
mat-form-field input {

  justify-content: center;

}
::ng-deep.mat-form-field-wrapper{
  width: 80%;
}

/*
mat-form-field {

  width: 3vw;
  margin: 7px;
  display: inline-block;
  border: slategray solid 1px;
  border-radius: 40px;
}
*/

.card-title {
    color: #0B814A;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.width-50{width: 49%;}
.ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 100%;
        width: 340px;}
.width-25{width: 25%;}

.title-name {
  color: #0B814A;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.continue-btn{
  background-color:#FFCB3D;
  color: black;
  font-weight:500;
  font-size: 13px;
  width: 140px;
  -moz-border-radius: 15px;
  border-radius: 25px;
  padding: 3px 0 ;
  margin-left: 13px !important;
  margin-right: 13px !important;
}
.continue-btn:hover{
  background-color: #ffbb00;
}

.back-btn{
  background-color:white;
  color: black;
  font-size: 13px;
  border-color: black 1px;
  font-weight:500;
  width: 140px;
  -moz-border-radius: 15px;
  border-radius: 25px;
  padding: 3px 0 ;
  margin-left: 13px !important;
  margin-right: 13px !important;
}

.back-btn:hover{
  background-color: #ececec;
}

mat-card-actions {
  text-align: center;
}

hr {
  width: 200px;
}
.card-title {
    color: #0B814A;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.width-50{width: 49%;}
.ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 100%;
        width: 340px;}
.width-25{width: 25%;}

